.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: rgb(178,34,34);
    background: linear-gradient(0deg, rgba(178,34,34,1) 42%, rgba(255,93,93,0.9864320728291317) 100%);
}
.backgroundMajor{
    width: 75%;
    height: 100%;
    padding: 0;
}