.dualwindow{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 20vw;
    z-index: 2;
    
    
    @media (max-width: 769px ){
        display:flex;
        flex-direction: column;
        justify-content: center;
    }
}
.dualwindow span{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    align-items: center;
    background-color: var(--mainColor);
    color:aliceblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    @media (max-width: 769px ){
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* height:120px; */
    }
}
.minlayout{
    display: flex;
    justify-content: flex-start;
    @media (max-width: 769px){
        display: flex;
        flex-wrap: wrap;
        padding-right: 10px
    }
}
.minlayout div{
    @media(max-width: 769px){
        display: grid;
        /* width: 34%; */
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 10px;
    }
    @media(max-width: 630px){
        /* width: 80%; */
    }
}
.minlayout h3 {
    @media(max-width: 400px){
        font-size: 90%
    }
}
.minlayout span{
    display: flex;
    justify-content: flex-start;
    @media(max-width: 397px){
        font-size: 12px;
    }
}