.bg{
    background: rgb(252,69,69);
    background: linear-gradient(0deg, rgba(252,69,69,0.9864320728291317) 0%, rgba(178,34,34,1) 78%);
}
.imgcarousel{
    width: 100%;
    max-width: 950px;
    min-height: 85vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner{
    display: flex;
    padding-top: 100px;
}
.item{
    min-height: 100px;
    min-width: 400px;
    padding: 14px;
}
.item img{
    width: 100%;
    height: 80%;
    border-radius: 10px;
    pointer-events: none;
}
.carousel{
    cursor: grab;
    overflow: hidden;
}